@page "/removeperson/{id:int}"
@rendermode InteractiveServer

@using BlazorHolDataAccess.Data

@inject IPersonDal personDal
@inject NavigationManager NavigationManager

<h3>Remove Person</h3>

@if (Person == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p>Are you sure you want to remove this person?</p>
        <p>First Name: @Person.FirstName</p>
        <p>Last Name: @Person.LastName</p>
        <p>Age: @Person.Age</p>
        <button class="btn btn-danger" @onclick="Remove">Remove</button>
        <button class="btn btn-primary" @onclick="GoHome">Cancel</button>
    </div>
}

@code {
    private PersonEntity? Person { get; set; }

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            Person = await personDal.GetPersonAsync(Id);
        }
        else
        {
            GoHome();
        }
    }

    private async Task Remove()
    {
        if (Person == null) return;
        await personDal.DeletePersonAsync(Person.Id);
        GoHome();
    }

    private void GoHome()
    {
        NavigationManager.NavigateTo("/personlist");
    }
}
