@page "/"

@inject Services.RenderModeProvider RenderModeProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p class="border border-info">Render mode: @RenderModeProvider.GetRenderMode(this)</p>

Welcome to your new app.

